
.navbar-wrapper {
    .right-side {
        i {
            padding: 0.5rem;
            cursor: pointer;
        }
        // i:hover {
        //     background-color:cadetblue;
        // }
    }
}


.cake-list {
    padding: 2rem;
}