.navbar-wrapper {
    z-index: 2;
    top: 0;
    position: sticky;

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .container-fluid {
        span {
            padding: 0.5rem;
        }
    }
    .right-side {
        display: flex;
        column-gap: 15px;
        padding: 10px 0px;

        i {
            cursor: pointer;
        }

        span {
            display: inherit;
        }
    }
}
