.cake-list-wrapper {
    padding: 2rem;

    .card-item-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;

        .card-item {
            min-height: 8rem;
            height: 26rem;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            box-shadow:
                0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);

            .image-wrapper {
                width: 100%;
                height: 80%;
                overflow: hidden;
                transition: all 5s ease-in-out;

                img {
                    height: auto;
                    width: 100%;

                }
                & :hover {
                    transform: scale(1.5);
                }
            }

            .other-product-details {
                padding: 0 10px;

                .product-name {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #1c2120;
                    opacity: .75;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
    
                .price-offer {
                    display: flex;
                    align-items: center;
    
                    .prod_price {
                        font-size: 16px;
                        font-weight: 500;
                        span {
                            font-family: Poppins,sans-serif;
                        }
                    }
                }
            }

        }
    }
}
