<div class="cake-list-wrapper">


    <div class="card-item-wrapper">
        <ng-container *ngFor="let cake of cakeList">


            <div class="card-item">
                <div class="image-wrapper">
                    <img [src]="cake.imageurl" alt="" width="100" height="100" class="d-inline-block align-text-top">
                </div>

                <div class="other-product-details">
                    <div class="product-name">
                        <span>{{cake.name}}</span>
                    </div>
    
                    <div class="price-offer">
                        <span class="prod_price"> <span> ₹ </span> {{cake.price}}</span>
                    </div>
    
                    <div class="add-to-cart-product">
                        Add to cart
                        <i class="pi pi-plus-circle" style="font-size: 1rem"></i>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>