.navbar-wrapper {
    margin-bottom: 1rem;
    z-index: 1;
    top: 0;
    position: sticky;

    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .container-fluid {
        span {
            padding: 0.5rem;
        }
    }
    .right-side {
        i {
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}
