
.navbar-wrapper {
    .container-fluid {
        span {
            padding: 0.5rem;
        }
    }
    .right-side {
        i {
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}


.cake-list {
    padding: 2rem;
}