.navbar-wrapper {
    margin-bottom: 1rem;
    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .container-fluid {
        span {
            padding: 0.5rem;
        }
    }
    .right-side {
        i {
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}
