
<!-- As a link -->
<div class="navbar-wrapper">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/cake-creation-logo.jpg" alt="" width="50" height="50"
          class="d-inline-block align-text-top">
        <span>AkS Cake Creation</span>
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <span class="pi pi-search"></span>
      </form>
  
      <div class="right-side">
  
        <i class="pi pi-sitemap" style="font-size: 2rem" pTooltip="My tooltip"></i>
        <i class="pi pi-cart-plus" style="font-size: 2rem" pTooltip="My tooltip"></i>
        <i class="pi pi-user-plus" style="font-size: 2rem" pTooltip="My tooltip"></i>
        <i class="pi pi-spin pi-cog" style="font-size: 2rem" pTooltip="My tooltip"></i>
      </div>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/birthday">Birthday</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Occasions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Best sellers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bakery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chocolate</a>
          </li>
      
        </ul>
      </div>
    </div>
  </nav>
</div>



<router-outlet></router-outlet>
